<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bem-vindo</title>
</head>
<body>

<nav id="menu">
	<ul>
		<li> <a th:href="@{/home}"> Home</a></li>
		<li> <a th:href="@{/perfil}"></a>Perfil</li>
		<li> <a th:href="@{/configuracao}">Configurações</li>
		<li>Logout</li>
	</ul>
	
	<div id="container">
		<h1> Bem vindos ao sistema</h1>
		
		<img src="/images/atividades.jpg" alt="imagem de bem-vindos" id="welcome">
		
		<p>
		wqetqqqqwetqteqwettttttttttttttttttttttttttttttttttttttttttttttttttttttt
		weeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeefwrgwergelfghnwhgowhgpwohgworhg
		iwergirhiuqrgiohregiohifrouhioeuhfioherfiouwheroihwerogihuwroehgwioruhgiwourhg[]u
		woeuhguiowherioguhwieurghiwurhegiowurheguiowhrgiwurhgowuirhgwiorhe
		ewrughuiwehgiwherguhwerughwierughpwuerigwoierghw
		werighuiwoerhgowieuhrgoiwheruioghwoiuerghwoer
		wfwefwergwegwergwergwergw.
		
		</p>
		
		
		
	</div>
</nav>



</body>
</html>